body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin: 0 auto;
    width:960px;
    background-color: rgb(119, 201, 183);
}

.wrapper {
    margin: 20px auto;
    background-color: cadetblue;
}

.conteiner {
    background-color: grey;
    margin: 20px auto;
    border: 1px solid red;
    width: 650px;
    padding: 10px;
    display:inline-block;
    margin-left: 50px;

}

aside {
   vertical-align: top;
   display:inline-block;

}

footer {
    color: red;
    text-shadow: 1px 17px rgb(199, 94, 94);
    font-size: 15px;
    margin: 0 0 0 10px;
    font-weight: bold;
}
.link-1 {
    background-color: rgb(236, 226, 227);
    display: inline-block;
    width: 268px;
    padding: 5px;
    border: solid 2px;
}

.lista-1 {
    list-style-type: square;
}

th,
td {
    padding: 5px 15px 5px 15px;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: green;
    margin: 0 0 20px 45px;
    border: solid 5px darkred;
    width: 600px;
}

#heading {
    background-color: rgb(223, 72, 12);
    color: rgb(248, 240, 240);
}

.even {
    background-color: rgb(223, 72, 12);
    color: rgb(248, 240, 240);
    border: solid 2px black;
}